/* About Page Hero Section Styles */

.hero {
  display: flex;
  background: url('./images/about-hero.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: space-between;
  align-items: flex-end;
  padding: 60px 60px 0 60px;
  position: relative;
  overflow: hidden;
  min-height: 500px;
}

.hero-left {
  width: 48%;
  position: relative;
  z-index: 1;
  align-self: flex-end;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-end;
  line-height: 0;
}

.hero-left .hero-image {
  width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: contain;
  object-position: bottom;
  border-radius: 0 !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  display: block;
  margin: 0;
  padding: 0;
}

.hero-right {
  width: 48%;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  padding-left: 20px;
  padding-bottom: 60px;
}

.hero-right h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.1;
  margin: 0;
}

.hero-right .welcome-text {
  color: #E92B5BBA;
  font-size: 52.94px;
  font-weight: 700;
  display: block;
  margin-bottom: 4px;
}

.hero-right .brand-name {
  color: #1D1215BA;
  font-size: 56px;
  font-weight: 700;
  display: block;
}

.hero-right .hero-subtext {
  margin-top: 40px;
  font-size: 20px;
  color: #E92B5BBA;
  font-weight: 400;
  max-width: 100%;
  font-family: Poppins;
}

/* Services Section */
.services {
  position: relative;
  width: 1308px;
  height: 584.12px;
  left: calc(50% - 1308px / 2);
  margin-top: 100px;
  margin-bottom: 100px;
}

.services-content {
  position: relative;
  width: 100%;
  height: 100%;
}

.services-header {
  position: absolute;
  left: 30px;
  right: 910px;
  top: 10px;
}

.services-label {
  position: absolute;
  width: 123.78px;
  height: 32px;
  left: 12px;
  top: 1px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 25.2891px;
  line-height: 34px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #F6917C;
  margin: 0;
}

.services-title {
  position: absolute;
  width: 347.18px;
  height: 130.83px;
  left: 12px;
  top: 37.05px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 51.625px;
  line-height: 64px;
  display: flex;
  align-items: center;
  color: #F24570;
  margin: 0;
}

.services-grid {
  position: relative;
  width: 100%;
  height: 100%;
}

.service-card {
  position: absolute;
  background: #FFFFFF;
  box-shadow: 0px 4px 21px 1px rgba(48, 123, 196, 0.1);
  border-radius: 20px;
  padding: 0;
}

.service-card:nth-child(1) {
  height: 265.05px;
  left: 428px;
  right: 512px;
  top: 10px;
}

.service-card:nth-child(2) {
  height: 265.05px;
  left: 826px;
  right: 30px;
  top: 10px;
}

.service-card:nth-child(3) {
  height: 265.05px;
  left: 30px;
  right: 910px;
  top: 285.03px;
}

.service-card:nth-child(4) {
  height: 299.09px;
  left: 428px;
  right: 512px;
  top: 285.03px;
}

.service-card:nth-child(5) {
  height: 265.05px;
  left: 826px;
  right: 30px;
  top: 285.03px;
}

.service-icon {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 25px;
  top: 30px;
  background: #F6917C;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-icon svg {
  width: 19px;
  height: 19px;
  fill: #FFFFFF;
}

.service-title {
  position: absolute;
  left: 25px;
  top: 92px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24.375px;
  line-height: 34px;
  display: flex;
  align-items: flex-start;
  color: #F24570;
  margin: 0;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.service-card:nth-child(1) .service-title {
  width: calc(100% - 100px);
  max-width: 218.73px;
  min-height: 32px;
  height: auto;
}

.service-card:nth-child(2) .service-title {
  width: calc(100% - 100px);
  max-width: 271.34px;
  min-height: 32px;
  height: auto;
  font-size: 24.1719px;
}

.service-card:nth-child(3) .service-title {
  width: calc(100% - 100px);
  max-width: 220px;
  min-height: 32px;
  height: auto;
  font-size: 24.4766px;
}

.service-card:nth-child(4) .service-title {
  width: calc(100% - 100px);
  max-width: 290.23px;
  min-height: 66.05px;
  height: auto;
  font-size: 24.5781px;
}

.service-card:nth-child(5) .service-title {
  width: calc(100% - 100px);
  max-width: 267.62px;
  min-height: 32px;
  height: auto;
  font-size: 23.9688px;
}

.service-description {
  position: absolute;
  left: 25px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  display: flex;
  align-items: flex-start;
  color: rgba(18, 3, 0, 0.52);
  margin: 0;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.service-card:nth-child(1) .service-description {
  width: calc(100% - 50px);
  max-width: 374px;
  min-height: 75px;
  height: auto;
  left: 21px;
  top: 130px;
}

.service-card:nth-child(2) .service-description {
  width: calc(100% - 50px);
  max-width: 374px;
  min-height: 75px;
  height: auto;
  top: 130px;
}

.service-card:nth-child(3) .service-description {
  width: calc(100% - 50px);
  max-width: 321px;
  min-height: 75px;
  height: auto;
  top: 130px;
}

.service-card:nth-child(4) .service-description {
  width: calc(100% - 50px);
  max-width: 290.98px;
  min-height: 75px;
  height: auto;
  top: 160px;
}

.service-card:nth-child(5) .service-description {
  width: calc(100% - 50px);
  max-width: 268.23px;
  min-height: 75px;
  height: auto;
  top: 130px;
}

.service-button {
  position: absolute;
  width: 70px;
  height: 50px;
  right: 0px;
  bottom: 0px;
  background: rgba(255, 7, 193, 0.5);
  border: none;
  border-radius: 10px 0px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;
}

.service-button svg {
  width: 35px;
  height: 24px;
  fill: #FFFFFF;
}

/* Why Choose Us Section */
.why-choose-us {
  position: relative;
  width: 1308px;
  height: 644.7px;
  left: calc(50% - 1308px / 2);
  margin-top: 100px;
  margin-bottom: 100px;
}

.why-choose-us-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.why-choose-us-image {
  position: absolute;
  width: 481px;
  height: 644.7px;
  left: 30px;
  top: 0;
  border-radius: 30px;
  overflow: hidden;
}

.why-choose-us-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.why-choose-us-content {
  position: absolute;
  left: 556px;
  right: 35px;
  top: 0;
  bottom: 0;
  background: #ffffff;
}

.why-choose-us-title {
  position: absolute;
  height: 67px;
  left: 12px;
  top: -2px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 52.3906px;
  line-height: 64px;
  display: flex;
  align-items: center;
  color: #F24570;
  margin: 0;
}

.why-choose-us-points {
  position: relative;
  width: 100%;
  height: 100%;
}

.why-choose-us-point {
  position: absolute;
  background: #ffffff;
}

.why-choose-us-point:nth-child(1) {
  left: 0px;
  right: 385px;
  top: 113.82px;
  bottom: 253.79px;
}

.why-choose-us-point:nth-child(2) {
  left: 385px;
  right: 0px;
  top: 113.82px;
  bottom: 253.79px;
}

.why-choose-us-point:nth-child(3) {
  left: 0px;
  right: 385px;
  top: 390.92px;
  bottom: 10.73px;
}

.why-choose-us-point:nth-child(4) {
  left: 385px;
  right: 0px;
  top: 390.92px;
  bottom: 10.73px;
}

.point-icon {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 12px;
  top: 0px;
  background: #D25D5D;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.point-icon svg {
  width: 14px;
  height: 18px;
  fill: #F24570;
}

.why-choose-us-point:nth-child(2) .point-icon svg,
.why-choose-us-point:nth-child(3) .point-icon svg,
.why-choose-us-point:nth-child(4) .point-icon svg {
  width: 18px;
  height: 18px;
}

.point-content {
  position: relative;
  width: 100%;
  height: 100%;
}

.point-title {
  position: absolute;
  left: 12px;
  top: 59px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24.2734px;
  line-height: 34px;
  display: flex;
  align-items: center;
  color: #F24570;
  margin: 0;
}

.why-choose-us-point:nth-child(1) .point-title {
  width: 246.01px;
  height: 66.05px;
}

.why-choose-us-point:nth-child(2) .point-title {
  width: 293.28px;
  height: 32px;
}

.why-choose-us-point:nth-child(3) .point-title {
  width: 324.76px;
  height: 32px;
  font-size: 24.5781px;
}

.why-choose-us-point:nth-child(4) .point-title {
  width: 304.23px;
  height: 32px;
  font-size: 24.375px;
}

.point-description {
  position: absolute;
  left: 12px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  display: flex;
  align-items: flex-start;
  color: rgba(12, 12, 12, 0.52);
  margin: 0;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.why-choose-us-point:nth-child(1) .point-description {
  width: calc(100% - 24px);
  max-width: 341.43px;
  min-height: 101px;
  height: auto;
  top: 139.1px;
}

.why-choose-us-point:nth-child(2) .point-description {
  width: calc(100% - 24px);
  max-width: 359.87px;
  min-height: 75px;
  height: auto;
  top: 105.05px;
}

.why-choose-us-point:nth-child(3) .point-description {
  width: calc(100% - 24px);
  max-width: 337.76px;
  min-height: 101px;
  height: auto;
  top: 105.04px;
}

.why-choose-us-point:nth-child(4) .point-description {
  width: calc(100% - 24px);
  max-width: 353.22px;
  min-height: 101px;
  height: auto;
  top: 105.04px;
}

/* Stats Section */
.stats-section {
  position: relative;
  width: 1296px;
  height: 333.83px;
  left: calc(50% - 1296px / 2);
  margin-top: 100px;
  margin-bottom: 100px;
}

.stats-container {
  position: relative;
  width: 1296px;
  height: 333.83px;
  background: url('./images/stats-bg.svg');
  border-radius: 30px;
}

.stat-item {
  position: absolute;
  top: 80px;
  bottom: 90px;
}

.stat-item:nth-child(1) {
  width: 216.47px;
  left: calc(50% - 216.47px / 2 - 478.38px);
}

.stat-item:nth-child(2) {
  width: 239.19px;
  left: calc(50% - 239.19px / 2 - 250.54px);
}

.stat-item:nth-child(3) {
  width: 239.19px;
  left: calc(50% - 239.19px / 2 - 11.36px);
}

.stat-item:nth-child(4) {
  width: 239.19px;
  left: calc(50% - 239.19px / 2 + 227.83px);
}

.stat-item:nth-child(5) {
  width: 239.19px;
  left: calc(50% - 239.19px / 2 + 467.01px);
}

.stat-number {
  position: absolute;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #F24570;
  margin: 0;
  top: 18px;
  left: calc(50% - var(--stat-number-width) / 2);
}

.stat-item:nth-child(1) .stat-number {
  width: 104.31px;
  height: 67px;
  font-size: 52.1719px;
  left: calc(50% - 104.31px / 2 + 0.09px);
}

.stat-item:nth-child(2) .stat-number {
  width: 110.75px;
  height: 67px;
  font-size: 51.0781px;
  left: calc(50% - 110.75px / 2 + 0.09px);
}

.stat-item:nth-child(3) .stat-number {
  width: 177px;
  height: 67px;
  font-size: 52.1719px;
  left: calc(50% - 177px / 2 + 0.08px);
}

.stat-item:nth-child(4) .stat-number {
  width: 95.51px;
  height: 67px;
  font-size: 51.4062px;
  left: calc(50% - 95.51px / 2 + 0.1px);
}

.stat-item:nth-child(5) .stat-number {
  width: 100.45px;
  height: 67px;
  font-size: 51.7344px;
  left: calc(50% - 100.45px / 2 + 0.1px);
}

.stat-label {
  position: absolute;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #F24570;
  margin: 0;
  top: 91.83px;
}

.stat-item:nth-child(1) .stat-label {
  width: 156.79px;
  height: 26px;
  left: calc(50% - 156.79px / 2 + 0.16px);
}

.stat-item:nth-child(2) .stat-label {
  width: 153.63px;
  height: 49px;
  left: calc(50% - 153.63px / 2 + 0.09px);
  top: 92.83px;
}

.stat-item:nth-child(3) .stat-label {
  width: 122.6px;
  height: 49px;
  left: calc(50% - 122.6px / 2 + 0.09px);
  top: 92.83px;
}

.stat-item:nth-child(4) .stat-label {
  width: 167.7px;
  height: 49px;
  left: calc(50% - 167.7px / 2 + 0.1px);
  top: 92.83px;
}

.stat-item:nth-child(5) .stat-label {
  width: 169.67px;
  height: 49px;
  left: calc(50% - 169.67px / 2 + 0.1px);
  top: 92.83px;
}

